header, footer {
    text-align: center;
    background-color: #0076c6;
    vertical-align: middle;
    font-size: 1em;
    color: white;
    border: 4px solid #0076c6 ;
}

h2 {
    text-align: center;
    margin: 2px 0;
}
h3 {
    text-align: center;
    margin: 2px 0;
}
main {
    background-color: #0076c6;
}
article {
    text-align: center;
    background-color: white;
    margin: 4px;
    padding: 40px 0 ;
}
article img {
    margin: 50px 0 20px 0;

}
article p {
    text-align: justify;
    padding: 0 15px;
}