@media only screen and (min-width: 900px) {
	#container {
        max-width: 1300px;
        margin: 0 auto;

    }
    #advertContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
    }
    #directoryArea {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        justify-content: stretch;
        
    }
    
     
}

