
/*
    font-family:'Ubuntu', sans-serif;
    font-size: 1.5em;
tr:nth-child(odd) td {
box-shadow: 12px 12px 15px #628ca6 ;
*/
.cards {
    text-align: center;
} 
img {
    max-width: 100%;
}

@media only screen and (min-width: 539px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-content: space-evenly;
        grid-gap: 15px;
    }
}

@media only screen and (min-width: 900px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px;
        justify-items: space-evenly;
        /*background-color: blue;*/
    }
}