@media only screen and (min-width: 900px) {

    #summary {
        position: absolute;
        top: 15px;
        left: 13%;
    }

    #gallery div:hover {
        box-shadow: 0 10px 10px 0 #e76f51;
        border-radius: 5px;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px;
        justify-items: space-evenly;
        /*background-color: blue;*/
    }
    #gallery div img {
        margin: 10px 0;
    }

    #firstArticle {
        /*background-color: red;*/
        /*border: 3px solid #f4a261;*/
        margin: 10px auto ;
        position: relative;
        max-width: 960px;
        padding: 20px;
        border: 1px solid #f4a261;
    }
    #firstArticle img {
        float: right;
        max-width: 400px;
        margin: 20px 0 20px 20px;
    }
-s
    #firstArticle p {
    
    }
    
    #firstArticle h3 {
        /*text-align: center;*/
    }
}